[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
absl-py = "*"
attrs = "*"
gym = "==0.21.0"
idna = "==2.7"
imageio = "*"
importlib-metadata = "<5.0"
lbforaging = "*"
matplotlib = "*"
mpyq = "==0.2.5"
numpy = "*"
pbr = "==4.3.0"
pillow = "*"
pluggy = "==0.7.1"
portpicker = "==1.2.0"
probscale = "*"
protobuf = "==3.19.5"
py = "==1.6.0"
pygame = "*"
pyglet = "<2"
pyparsing = "==2.2.2"
pytest = "==4.3.1"
python-dateutil = "==2.7.3"
pyyaml = "==5.3.1"
requests = "==2.19.1"
rware = "*"
s2clientprotocol = "==4.10.1.75800.0"
sacred = "*"
scipy = "*"
six = "*"
sk-video = "==1.1.10"
snakeviz = "*"
tensorboard-logger = "*"
torch = "*"
torchvision = "*"
tornado = "==5.1.1"
urllib3 = "==1.23"
websocket-client = "==0.53.0"
whichcraft = "==0.5.2"
wrapt = "==1.10.11"
smac = {git = "https://github.com/oxwhirl/smac.git"}
pysc2 = "*"
seaborn = "*"

[dev-packages]
pylint = "*"
flake8 = "*"
ipython = "*"
pyright = "*"

[requires]
python_version = "3.9"
